# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo
sourceCode/MDK_Project/DR-05.uvguix.Administrator
sourceCode/MDK_Project/Objects/DR-05.axf
sourceCode/MDK_Project/Objects/DR-05.bin
sourceCode/MDK_Project/Objects/DR-05.build_log.htm
sourceCode/MDK_Project/Objects/DR-05.htm
sourceCode/MDK_Project/Objects/DR-05_Target 1.dep
sourceCode/MDK_Project/Objects/protocol_app.crf
sourceCode/MDK_Project/DR-05.uvguix.18452
sourceCode/MDK_Project/DR-05.uvoptx
sourceCode/MDK_Project/DR-05.uvprojx
sourceCode/MDK_Project/Listings/startup_cms32f033x.lst
sourceCode/MDK_Project/Objects/adc.crf
sourceCode/MDK_Project/Objects/bluetooth.crf
sourceCode/MDK_Project/Objects/bsp_beep.crf
sourceCode/MDK_Project/Objects/bsp_hard.crf
sourceCode/MDK_Project/Objects/bsp_key.crf
sourceCode/MDK_Project/Objects/bsp_led.crf
sourceCode/MDK_Project/Objects/bsp_pid.crf
sourceCode/MDK_Project/Objects/ccp.crf
sourceCode/MDK_Project/Objects/cms32f033_it.crf
sourceCode/MDK_Project/Objects/debug_uart.crf
sourceCode/MDK_Project/Objects/DR-05.bin
sourceCode/MDK_Project/Objects/DR-05.build_log.htm
sourceCode/MDK_Project/Objects/DR-05.htm
sourceCode/MDK_Project/Objects/DR-05.lnp
sourceCode/MDK_Project/Objects/DR-05_Target 1.dep
sourceCode/MDK_Project/Objects/epwm.crf
sourceCode/MDK_Project/Objects/flash.crf
sourceCode/MDK_Project/Objects/main.crf
sourceCode/MDK_Project/Objects/mytypedef.crf
sourceCode/MDK_Project/Objects/protocol_app.crf
sourceCode/MDK_Project/Objects/psfr_acmp.crf
sourceCode/MDK_Project/Objects/psfr_adc.crf
sourceCode/MDK_Project/Objects/psfr_ccp.crf
sourceCode/MDK_Project/Objects/psfr_crc.crf
sourceCode/MDK_Project/Objects/psfr_epwm.crf
sourceCode/MDK_Project/Objects/psfr_fmc.crf
sourceCode/MDK_Project/Objects/psfr_gpio.crf
sourceCode/MDK_Project/Objects/psfr_hwdiv.crf
sourceCode/MDK_Project/Objects/psfr_i2c.crf
sourceCode/MDK_Project/Objects/psfr_opa.crf
sourceCode/MDK_Project/Objects/psfr_pga.crf
sourceCode/MDK_Project/Objects/psfr_retarget.crf
sourceCode/MDK_Project/Objects/psfr_ssp.crf
sourceCode/MDK_Project/Objects/psfr_system.crf
sourceCode/MDK_Project/Objects/psfr_tick.crf
sourceCode/MDK_Project/Objects/psfr_timer.crf
sourceCode/MDK_Project/Objects/psfr_uart.crf
sourceCode/MDK_Project/Objects/psfr_wdt.crf
sourceCode/MDK_Project/Objects/psfr_wwdt.crf
sourceCode/MDK_Project/Objects/sn74hc21d.crf
sourceCode/MDK_Project/Objects/sys.crf
sourceCode/MDK_Project/Objects/system_cms32f033x.crf
sourceCode/MDK_Project/Objects/systemconfig.crf
sourceCode/MDK_Project/Objects/timer.crf
sourceCode/MDK_Project/Objects/timing.crf
sourceCode/MDK_Project/Objects/usart.crf
