# Keil5 compiled objects
**/Objects/
**/Listings/
*.o
*.crf
*.d
*.axf
*.bin
*.hex
*.htm
*.dep
*.lnp
*.lst
*.map
*.iex
*.build_log.htm

# Keil project user files
*.uvoptx
*.uvguix.*

# IDE
*.bak
*.~*
~$*

# OS files
.DS_Store
Thumbs.db
